#header{
  width:100%;
  padding:0;
  background:#333333;
  position:fixed;
  border-bottom:4px solid #136ea2;
  z-index:1;
  height:55px;
}

  #header #logo a{
    float:left;
    width:160px;
    height:50px;
    margin-left:20px;
    background:url(/images/wildfire/logos/white-small.png) no-repeat left center;
  }
  #header #logo a:hover{
    opacity: 0.8;
  }

    #logo span{display:none;}

  #header a{
    text-decoration: none;
  }
    #header #logo a{
      display:block;
    }
    #header #logo img{
      height:25px;
    }
    #header img.logo{
      float:left;
      margin-right:15px;
    }

  #options{
    float:left;
  }
  #options{
    padding-top:15px;
  }
  #options a{
    float:left;
    margin-left:10px;
  }

  #logout_button{
    float:right;
    margin:15px 15px 0 0;
  }

