html .tabs_nav{
  background:none;
  border:none;
  padding:.2em 10px 0;
}
html .tabs_nav li.tabs_nav_item{
 float:left;
 border:none;
 background:none;
}
html .tabs_nav li a{
  display:block;
  padding:20px;
  text-decoration:none;
  border-radius:0;
  border-bottom:1px solid transparent;
  outline:none;
}
  html .tabs_nav li a:hover{
    background:#f8f7f7;
  }
  html .tabs_nav li.ui-state-active a{
    font-weight:bold;
    background:#f0f0f0;
    border-top:1px solid #dfdfdf;
    border-left:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    border-bottom:none;
    position:relative;
    bottom:-1px;
  }

  html #overlay .tabs_nav{
    background:#fff;
  }