@font-face {
  font-family: 'Entypo';
  src: url('/fonts/wildfire/entypo/entypo.eot');
  src: url('/fonts/wildfire/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('/fonts/wildfire/entypo/entypo.woff') format('woff'),
    url('/fonts/wildfire/entypo/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

b{
  font-family:'Entypo';
  font-size:30px;
  vertical-align:middle;
  margin-right:5px;
}
.button b{
  font-size:25px;
}

b.entypo-icon-home:before{ content: "⚏"; }
b.entypo-icon-users:before{ content: ""; }
b.entypo-icon-navigation:before{ content: ""; }
b.entypo-icon-content:before{ content: "📰"; }
b.entypo-icon-categories:before{ content: ""; }
b.entypo-icon-media:before{ content: "📁"; }
b.entypo-icon-redirect:before{ content: "🔙"; }
b.entypo-icon-close:before{ content: "❎"; }
b.entypo-icon-alert:before{ content: "💥"; color:red; }

.has-children b.entypo-icon-expand:before{ content: "↳"; }
.has-children .open b.entypo-icon-expand:before{ content: "↰"; }
