#outer{
  padding-top:66px; /*height of  #header*/
  margin-left:180px;
}
#page_content{
  padding:20px;
}

.intro_block_content{
  float:right;
}
.primary_form_container{
  border:none;
}
.tabs_container{
  position:static;
}
  .primary_form_container .tab-contents{
    background:#f0f0f0;
    padding:15px;
    border:none;
    border-top:1px solid #dfdfdf;
  }
  .edit_fields,.meta_tabs{
    float:left;
  }
  .edit_fields{
    background:white;
    width:68%;
    margin-right:20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  .meta_tabs{
    width:30%;
  }
  .meta_tabs .ui-accordion-content-active {

  }


#primary_navigation{
  position:fixed;
  width:180px;
  top:66px;
  padding:2% 0;
  height:100%;
  background: #f0f0f0;
  overflow:hidden;
  border-right:1px solid #dfdfdf;
  overflow: hidden;
  width:180px;
}


#form{
  margin-top:-5px;
  margin-left:180px;
  position: fixed;
  z-index:10;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background:#f0f0f0;
}
  #form form{
    border-width: 0;
    margin-bottom:0;
    background:none;
  }


.dashboard_content .row{
  margin-bottom:20px;
  border-bottom:1px solid #dfdfdf;
}
  .dashboard_content .row:last-child{
    border-bottom-width:0;
  }