#outer{
  padding-top:66px; /*height of  #header*/
  margin-left:180px;
}
#page_content{
  padding:20px;
}

.intro_block_content{
  float:right;
}
.primary_form_container{
  border:none;
  padding:0;
}
.tabs_container{
  position:static;
}
  .primary_form_container .tab-contents{
    background:#f0f0f0;
    padding:10px;
    border:none;
    border-top:1px solid #dfdfdf;
  }
  .edit_fields,
  .meta_tabs{
    float:none;
  }
  .edit_fields{
    width:100%;
    padding:0px;
  }

  fieldset .embedded-media-listing-holder{
    float:left;
    width:70%;
    padding-right:10px;
  }
  fieldset .embedded-media-attachements{
    float:left;
    width:30%;
    margin-top:0;
  }
  .raised{
    background:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  .meta_tabs{
    width:100%;
    margin-top:10px;
  }
    .meta_tabs .edit_fields{
      width:100%;
      border:none;
      box-shadow: none;
    }
      .meta_tabs .edit_fields .raised{
        box-shadow: none;
      }
  .meta_tabs .ui-accordion-content-active {

  }


#primary_navigation{
  position:fixed;
  width:180px;
  top:55px;
  padding:2% 0;
  height:100%;
  background: #f0f0f0;
  overflow:hidden;
  border-right:1px solid #dfdfdf;
  overflow: hidden;
  width:180px;
}


#form{
  margin-top:-5px;
  margin-left:180px;
  position: fixed;
  z-index:10;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background:#f0f0f0;
}
  #form form{
    border-width: 0;
    margin-bottom:0;
    background:none;
  }


.dashboard_content .row{
  margin-bottom:20px;
  border-bottom:1px solid #dfdfdf;
}
  .dashboard_content .row:last-child{
    border-bottom-width:0;
  }

.media-listing-wrapper{
  overflow: auto;
}
fieldset .media-listing-wrapper{
  max-height: 600px;
}