table{
  width:100%;
}
  td, th{
    padding:10px 3px;
    font-size:108%;
    color:#333;
    border-bottom:1px solid #f0f0f0;
  }
  tbody tr:last-child td,
  tbody tr:last-child th{
    border-bottom-width:0;
  }
  th{
    font-weight:bold;
    font-size:116%;
  }
  td a, th a{
    text-decoration: none;
  }

td.title{
  width:35%;
}
td.in{
  width:18%;
}
td.on{
  width:16%;
}

.operations{
  text-align: right;
}

thead td,
thead th{
  border-bottom:1px solid #dfdfdf;
}