table{
  width:100%;
  margin:0 25px;
}
  td, th{
    padding:8px 6px;
    font-size:108%;
    color:#333;
  }
  th{
    font-weight:bold;
    font-size:116%;
  }
  td a, th a{
    text-decoration: none;
  }
