.edit_fields .field{
  padding:15px;
}
.edit_fields .field-content{
  padding:0;
  margin:0;
}
.edit_fields label{
  display:none;
}
.edit_fields textarea{
  width:100%;
}

.field-content-content .o2k7Skin table.mceLayout{
  border:none;
}

#wildfire_content_title{
  width:50%;
}