.edit_fields .field{
  padding:15px;
  display: inline-block;
}

.edit_fields .fieldw-tinymcetextareainput{
  display:block;
  clear:both;
}

.edit_fields .field-content{
  padding:0;
  margin:0;
}
.edit_fields label{
  display:block;
  margin-bottom:10px;
}
#cms-content .edit_fields .field-content label{
  display:none;
}
.edit_fields textarea{
  width:100%;
}

.field-content-content .o2k7Skin table.mceLayout{
  border:none;
}

.edit_fields .field-title,
#wildfire_content_title{
  width:100%;
}

.form-submit input[type=submit]{
  margin:20px 0 0 20px;
}