.edit_fields .field{
  padding:15px;
}
.edit_fields .field-content{
  padding:0;
  margin:0;
}
.edit_fields label{
  display:block;
  margin-bottom:10px;
}
.edit_fields .field-title label,
.edit_fields .field-content label{
  display:none;
}
.edit_fields textarea{
  width:100%;
}

.field-content-content .o2k7Skin table.mceLayout{
  border:none;
}

#wildfire_content_title{
  width:50%;
}

.intro_block_content input[type=submit]{
  margin:20px 0 0 20px;
}