.tree_operations{
  float:right;
}
  .tree_operations a{
    margin:13px 0 10px 10px;
  }

span.tree_col_status{
  text-transform: uppercase;
  cursor:pointer;
  display:inline-block;
  padding:7px 9px;
  font-size:93%;
  text-decoration:none;
  letter-spacing:0.5px;
  font-weight:normal;
  border-radius:4px;
  line-height:1em;
  border-radius:8px;
  color:#fff;
  background:#df3434;
  display:inline-block;
  float:right;
  margin:13px 0 10px 10px;
}
span.live{
  background:#92ba59;
}

.tree_node .view_children_link,
.tree_node .children_link,
.tree_node .empty{
  float:left;
  text-align: center;
  padding-left:5px;
}
  .tree_node .empty{
    width:26px;
    border-right:1px dotted #f0f0f0;
  }
.tree_node .view_children_link,
.tree_node .empty{
  height:55px;
  padding-top:10px;
  margin-right:5px;
}
.tree_node .children_link{
  height:35px;
  padding-top:20px;
  width: auto;
  text-align: left;
}
.tree_node .view_children_link{
  border-right:1px solid #f0f0f0;
}
.tree_node{
  height:55px;
  overflow: hidden;
  border-bottom:1px solid #f0f0f0;
}
.tree_node a{
  text-decoration: none;
}

.tree_node em.date{
  padding-top:15px;
  font-size:93%;
  display: block;
  color:#b3b3b3;
  float:right;
}

.tree_node.open{
  background:#fafafa;
}
  .tree_node.open .view_children_link{
    background: #f0f0f0;
  }


#cms-content .listing.search-result-list{
  padding:10px;
  background:#f5f5f5;
}

.tree_depth_1{margin-left:25px;}
.tree_depth_2{margin-left:50px;}
.tree_depth_3{margin-left:75px;}
.tree_depth_4{margin-left:100px;}
.tree_depth_5{margin-left:125px;}


