.meta_tabs .meta-tab-title{
      text-transform: capitalize;
      border-radius:0px;
      border:none;
      padding:15px;
      font-size:13px;
    }
      .meta_tabs .meta-tab-title span{
        display:block;
      }
      .meta_tabs .meta-tab-title.ui-state-default,
      .meta_tabs .meta-tab-title:hover{
        background:#dfdfdf;
        font-size:123.1%;
        font-weight: bold;
      }
        .meta_tabs .meta-tab-title:hover{
          color:#136ea2;
        }
      .meta_tabs .meta-tab-title.ui-state-active{
        background:white;
        margin-top:10px;
        padding-bottom:0;
        color:#136ea2;

        font-weight:bold;
        border-top:1px solid #dbdbdb;
        border-left:1px solid #dbdbdb;
        border-right:1px solid #dbdbdb;
      }
        .meta_tabs .meta-tab-title.ui-state-active span{
          padding-bottom:10px;
          border-bottom:1px solid #dfdfdf;
        }
      .meta_tabs .meta-tab-title.ui-state-active:first-child{
        margin-top:0px;
      }
    .meta_tabs .meta-tab{
      border-radius:0px;
      padding:15px;
      margin:0 0 10px;
      top:0;
      border-top:none;
      border-bottom:1px solid #dbdbdb;
      border-left:1px solid #dbdbdb;
      border-right:1px solid #dbdbdb;
    }
      .meta_tabs .edit_fields .field{
        padding:0 15px 15px;
      }
      .meta_tabs .meta-tab label,
      .meta_tabs .meta-tab input,
      .meta_tabs .meta-tab textarea,
      .meta_tabs .meta-tab select{
        display:block;
        max-width:none;
        width:100%;
      }
      .meta_tabs .meta-tab input[type=radio],
      .meta_tabs .meta-tab input[type=checkbox]{
        width:auto;
        float:right;
        margin:10px 10px 0 0;
      }
      .meta_tabs .meta-tab label,
      .meta_tabs .meta-tab h3{
        margin:10px 0 5px 0;
        padding:0 0 10px;
        font-size:100%;
        color:#333333;
      }
      .meta_tabs li{
        padding-left:20px;
      }
      .meta_tabs .language-list .operations{display:none;}

  .multipleselect ul{
    max-height: 250px;
    overflow: auto;
  }

  .joins .join{
    float:left;
    width:50%;
    padding-right:10px;
    height: 350px;
  }