.content_parent li{
  list-style:none;
  padding-left:20px;
}
.content_parent li .field{
  border-bottom:1px solid #dbdbdb;
}
.meta_tabs .content_parent label{
  padding-top:10px;
}
.meta_tabs .content_parent input.node{
  float:right;
  margin-top:10px;
}
.meta_tabs .content_parent .view_children{
  float:left;
}
  .meta_tabs .content_parent .view_children a{
    text-decoration:none;
    float:left;
  }
  .has-children b{
    padding:5px;
  }
  .has-children .open b{
    background:#f0f0f0;
  }
.content_parent span.status{
  display:block;
}
  .content_parent span.status a{
    text-decoration:none;
    display:block;
    width:10px;
    height:10px;
    margin:12px 10px 0 0;
  }
    .content_parent span.status.live a{
      background:green;
    }
    .content_parent span.status.not-live a{
      background:red;
    }
    .content_parent .self span.status{
      display:none;
    }