<a href="/admin/logout/" class='button' id="logout_button">
  <b>&#128274;</b> <span>Logout <?=$current_user->username?></span>
</a>


<?if($current_user->allowed("home", "search")):?>
<form id="search_form" action="/admin/home/search" method="post" class='ajax-post' data-view="/admin/content/edit/">
  <input type='text' value="" placeholder="SEARCH CONTENT" class='input_field text_field' name='term' id="search_box">
</form>
<?endif?>

<div id="options">
  <?foreach($quick_links as $name=>$link):?>
  <a href='<?=$link?>' class='button quick-<?=underscore($name)?>'>
    <?if(underscore($name)== "new"):?><b>&#10133;</b>
    <?elseif(underscore($name)=="sync"):?><b>&#128260;</b>
    <?elseif(underscore($name)== "sort"):?><b>&#128256;</b>
    <?endif?>
    <span><?=ucfirst($name)?></span>
  </a>
  <?endforeach?>
</div>
