<?
  if(!$tree){
    if($master = $model->revision()) $base = new $model_class($master);
    else $base = $model->clear();
    $base->enable_has_child_query();
    $depth = 0;
  }
  if(!$path_to_root){
    $path = $base->path_to_root();
    $path_to_root = array();
    if($path){
      foreach($path->rowset as $p){
        if(is_array($p) && $p['id'] != $model->primval) $path_to_root[] = $p['id'];
        elseif($p != $model->primval) $path_to_root[] = $p;
      }
    }
  }
  if(!$parent_id) $parent_id = 0;
?>
<ul class="tree depth-<?=$depth?> parent_<?=$model->parent_id?> content_parent">
  <?if(!$tree):?>
    <li class='branch branch-depth-<?=$depth?><?=(($model->parent_id == 0)?" parent":"")?> tree_children' data-primval="0">
      <div class='field clearfix<?=(($model->parent_id == 0)?" active":"")?>'>
        <input type="radio" id="depth_<?=$depth?>_node_0" class='checkbox node' name="<?=$model->table?>[parent_id]" value="0" <?if($model->parent_id == 0):?>checked="checked"<?endif?>>
        <label for="depth_<?=$depth?>_node_0">None</label>
      </div>
      <?=partial("_parent", array('tree'=>$base->roots(), 'path_to_root'=>$path_to_root, 'base'=>$base, 'model'=>$model, 'depth'=>($depth+1)))?>
    </li>
  <?else:?>
    <?foreach($tree as $i=>$branch):?>
      <?if($branch->primval == $base->primval) continue?>
      <?if($branch->master()):?>
        <?
          if($branch->primval == $model->parent_id) $parent = true;
          else $parent = false;
        ?>
        <li class='branch branch-depth-<?=$depth?><?=(($parent)?" parent":"")?>' data-primval="<?=$branch->primval?>">
          <div class='field clearfix <?=$parent?"active":""?> <?=($branch->primval == $base->primval)?"self":""?>'>
            <input
              id="depth_<?=$depth?>_node_<?=$i?>"
              class='checkbox node' type="radio"
              name="<?=$model->table?>[parent_id]"
              value="<?=$branch->primval?>"
              <?=$parent?'checked="checked"':''?>>
            <span class='view_children <?=$branch->row['has_children']?"has-children":""?>'>
              <?if($branch->row['has_children']):?>
                <?$kids = $branch->{$branch->children_column}->enable_has_child_query()->scope("parent_list")->all()?>
                <a href="/<?=trim($controller,"/")?>/_parent/<?=$branch->primval?>.ajax?base=<?=$base->primval?>&amp;model=<?=$model->primval?>&amp;depth=<?=($depth+1)?>"
                  <?=in_array($branch->primval, $path_to_root)?'class="open fetched"':''?>>
                  <b class="entypo-icon-expand"></b>
                </a>
              <?endif?>
            </span>
            <span class="status <?=Inflections::to_url($branch->humanize("status"))?>"><a href="#">&nbsp;</a></span>
            <label for="depth_<?=$depth?>_node_<?=$i?>"><?=$branch->title?></label>
          </div>
          <?if(in_array($branch->primval, $path_to_root) && $branch->row['has_children']):?>
            <?=partial("_parent", array('tree'=>$kids, 'path_to_root'=>$path_to_root, 'base'=>$base, 'model'=>$model, 'depth'=>($depth+1), 'model_tree'=>$model_tree))?>
          <?endif?>
        </li>
      <?endif?>
    <?endforeach?>
  <?endif?>
</ul>
