<?
$partial_paths = array(
                      APP_DIR."view/".$controller."/%s%.html",
                      APP_DIR."view/shared/%s%.html"
                      );
foreach((array)Autoloader::view_paths("plugin") as $path){
  $partial_paths[] = $path.strtoupper($use_plugin).Inflections::camelize(str_replace("/","_",$controller),true)."Controller/%s%.html";
  $partial_paths[] = $path."shared/%s%.html";
}

$grouping = array();
$mods = CMSApplication::get_modules();
$show_group = Request::param('group');
foreach($form as $field_name => $element){
  $group = strtolower($element->group);
  if(!$group) $group = "extras";
  if($element->editable && $current_user->allowed($module_name, "tab-".$group)){
    if($element->primary_group) $grouping['primary_tabs'][$group][$field_name] = $element;
    else $grouping['secondary_tabs'][$group][$field_name] = $element;
  }
}
WaxEvent::run('cms.edit.grouping', $grouping);
if(($show_group = Request::param('group')) && isset($grouping[$show_group])) $grouping = array($show_group => $grouping[$show_group]);
$counter = 0;
?>
<?=partial("_form_start", $this)?>

  <div class='intro_block_content clearfix'>
    <?=partial("_intro", array('model'=>$model, 'controller'=>$controller, 'model_class'=>$model_class, 'autosave'=>$autosave))?>
  </div>

  <div class='edit_form_block_container clearfix<?if($grouping['secondary_tabs']):?> with_meta_tabs<?endif?>'>

    <div class='primary_form_container tabs_container clearfix'>
      <?if($count = count($grouping['primary_tabs'])):?>
        <ul class='tabs_nav clearfix'>
          <?$k=0;?>
          <?foreach($grouping['primary_tabs'] as $name=>$info):?>
            <?$tabhash = Inflections::to_url($name); $tabid = "tab-".$tabhash;?>
            <li id="<?=$tabid?>" class='tab-<?=$k?> tabs_nav_item'><a href="#content_tab_<?=$tabhash?>"><?=ucwords($name)?></a></li>
            <?$k++;?>
          <?endforeach?>
        </ul>

        <?$k=0;?>
        <?foreach($grouping['primary_tabs'] as $name=>$fields):?>
          <?$tabhash = Inflections::to_url($name);?>

          <fieldset class='tab-contents clearfix <?=$tabhash?> <?if(!$grouping["secondary_tabs"]) echo 'no_meta_tabs'?>' id="content_tab_<?=$tabhash?>" >
          <?if(!$readable = CMSBaseComponent::form_group_partial_check($partial_paths, $name)) $readable = "_default_form_group";?>
          <?=partial($readable, array('tabhash'=>$tabhash, 'model'=>$model, 'join_model_class'=>$model_class, 'controller'=>$controller, 'fields'=>$fields, 'partial_paths'=>$partial_paths, 'scaffold_columns'=>$scaffold_columns, 'current_user'=>$current_user, 'operation_actions'=>$operation_actions, 'file_system_base'=>$file_system_base))?>

          <?if($grouping['secondary_tabs']):?>
            <?if(!$k):?>
            <div class='meta_tabs accordion clearfix'>
              <?foreach($grouping['secondary_tabs'] as $name=>$fields):?>
                <?$tabhash = Inflections::to_url($name);?>
                <h3 class='accordion_header meta-tab-title'><span><?=$name?></span></h3>
                <div class="meta-tab clearfix">
                  <?if(!$partial = CMSBaseComponent::form_group_partial_check($partial_paths, $name)) $partial = "_default_form_group";?>
                  <?=partial($partial, array('tabhash'=>$tabhash, 'model'=>$model, 'controller'=>$controller, 'fields'=>$fields, 'partial_paths'=>$partial_paths, 'scaffold_columns'=>$scaffold_columns, 'current_user'=>$current_user, 'operation_actions'=>$operation_actions, 'file_system_base'=>$file_system_base));?>
                </div>
              <?endforeach?>
            </div>
            <?endif?>
          <?endif?>

          </fieldset>
        <?$k++;?>
        <?endforeach?>

      <?endif?>
    </div>

  </div>

  <fieldset class='submit'>
    <?=partial("_submit", array('model'=>$model, 'controller'=>$controller, 'model_class'=>$model_class, 'autosave'=>$autosave))?>
  </fieldset>

</form>


<?=partial("_dialog_links", array('controller'=>$controller, "file_system_model"=>$file_system_model))?>
<?=partial("_dialog_source_code", array('controller'=>$controller))?>
<?=partial("_dialog_images", $this)?>
<?=partial("_dialog_tables", array('controller'=>$controller))?>
<?=partial("_dialog_templates", array('controller'=>$controller))?>
