.analytics-blocks-3 .analytics_block{
  float:left;
  width:32%;
  padding:0;
  min-height:500px;
  border-bottom:1px solid #dfdfdf;
}
.analytics-blocks-3 .analytics_block:nth-child(2){
  margin:0 2%;
}


#overall-browser-data-graph,
#overall-traffic-data-graph{
  height:400px;
}

#client-analytics h3{
  margin-top:20px;
}


.bar_gauge{
  width:100%;
  background:#e5f3fa;
}
.bar_gauge .bar_segment{
  float:left;
  padding:20px 0;
  text-align: center;
  color:#008dca;
  font-family: "OpenSans", helvetica, arial;
}
.bar_gauge .biggest_segment{
  background:#008dca;
  color:#fff;
}

.dashboard_content .analytics-mobile-usage{
  padding-bottom:20px;
  margin-bottom:0;
}

.donut_enabler {
  background: white;
  border-radius: 40px 40px 40px 40px;
  height: 80px;
  left: 210px;
  margin-bottom: -80px;
  position: relative;
  top: 70px;
  width: 80px;
  z-index: 1000;
}